### Задание 

Вам необходимо провести базовый EDA выбранного набора данных.

Требования к анализу:

    построить не менее 4 визуализаций различных видов;
    каждая визуализация должным образом оформлена и читается даже в отрыве от контекста;
    по каждой визуализации необходимо написать вывод (какую гипотезу на ее основе можно выдвинуть?).

In [96]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [97]:
#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 11,5

In [98]:
beer = pd.read_csv('beer_Norway.csv', skiprows=0)

In [99]:
beer.head()

,Alkoholomsetning i 1 000 liter,1st kvartal 2020,1st kvartal 2021,Endring i prosent,1st kvartal 2020.1,1st kvartal 2021.1,Endring i prosent.1,2019,2020,Endring i prosent.2
0,Alkohol totalt,5 972,7 216,20.8,1.35,1.61,19.3,6.05,7.23,19.5
1,Brennevin,988,1 147,16.1,0.22,0.26,18.2,1.00,1.23,23.0
2,Vin,2 370,2 955,24.7,0.53,0.66,24.5,2.23,2.94,31.8
3,Øl,2 446,2 880,17.7,0.55,0.64,16.4,2.63,2.83,7.6
4,Rusbrus,167,235,40.7,0.04,0.05,25.0,0.19,0.23,21.1

In [100]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Alkoholomsetning i 1 000 liter  5 non-null      object
 1    1st kvartal 2020               5 non-null      object
 2    1st kvartal 2021               5 non-null      object
 3    Endring i prosent              5 non-null      float64
 4    1st kvartal 2020.1             5 non-null      float64
 5    1st kvartal 2021.1             5 non-null      float64
 6    Endring i prosent.1            5 non-null      float64
 7    2019                           5 non-null      float64
 8    2020                           5 non-null      float64
 9    Endring i prosent.2            5 non-null      float64
dtypes: float64(7), object(3)
memory usage: 528.0+ bytes

In [101]:
beer = pd.DataFrame(beer)

In [102]:
beer.head()

,Alkoholomsetning i 1 000 liter,1st kvartal 2020,1st kvartal 2021,Endring i prosent,1st kvartal 2020.1,1st kvartal 2021.1,Endring i prosent.1,2019,2020,Endring i prosent.2
0,Alkohol totalt,5 972,7 216,20.8,1.35,1.61,19.3,6.05,7.23,19.5
1,Brennevin,988,1 147,16.1,0.22,0.26,18.2,1.00,1.23,23.0
2,Vin,2 370,2 955,24.7,0.53,0.66,24.5,2.23,2.94,31.8
3,Øl,2 446,2 880,17.7,0.55,0.64,16.4,2.63,2.83,7.6
4,Rusbrus,167,235,40.7,0.04,0.05,25.0,0.19,0.23,21.1

In [103]:
beer.set_index('Alkoholomsetning i 1 000 liter')

,1st kvartal 2020,1st kvartal 2021,Endring i prosent,1st kvartal 2020.1,1st kvartal 2021.1,Endring i prosent.1,2019,2020,Endring i prosent.2
Alkoholomsetning i 1 000 liter,,,,,,,,,
Alkohol totalt,5 972,7 216,20.8,1.35,1.61,19.3,6.05,7.23,19.5
Brennevin,988,1 147,16.1,0.22,0.26,18.2,1.00,1.23,23.0
Vin,2 370,2 955,24.7,0.53,0.66,24.5,2.23,2.94,31.8
Øl,2 446,2 880,17.7,0.55,0.64,16.4,2.63,2.83,7.6
Rusbrus,167,235,40.7,0.04,0.05,25.0,0.19,0.23,21.1

In [104]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Alkoholomsetning i 1 000 liter  5 non-null      object
 1    1st kvartal 2020               5 non-null      object
 2    1st kvartal 2021               5 non-null      object
 3    Endring i prosent              5 non-null      float64
 4    1st kvartal 2020.1             5 non-null      float64
 5    1st kvartal 2021.1             5 non-null      float64
 6    Endring i prosent.1            5 non-null      float64
 7    2019                           5 non-null      float64
 8    2020                           5 non-null      float64
 9    Endring i prosent.2            5 non-null      float64
dtypes: float64(7), object(3)
memory usage: 528.0+ bytes

In [119]:
beer1= beer.iloc[:, 0:3]
beer1.set_index('Alkoholomsetning i 1 000 liter')

                                1st kvartal 2020  1st kvartal 2021
Alkoholomsetning i 1 000 liter
Alkohol totalt                             5 972            7 216
Brennevin                                    988             1 147
Vin                                        2 370             2 955
Øl                                         2 446             2 880
Rusbrus                                      167               235

In [126]:
beer1.plot()

TypeError: no numeric data to plot

In [120]:
beer1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Alkoholomsetning i 1 000 liter  5 non-null      object
 1    1st kvartal 2020               5 non-null      object
 2    1st kvartal 2021               5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [139]:
beer1[['1st kvartal 2020', '1st kvartal 2021']] = beer1[['1st kvartal 2020', '1st kvartal 2021']].astype(int)

KeyError: "None of [Index(['1st kvartal 2020', '1st kvartal 2021'], dtype='object')] are in the [columns]"

In [125]:
for alcohols in beer1.rows:
    plt.plot(beer1.index, beer1[alcohols])
plt.title('Динамика продаж алкоголя в Норвегии')
plt.xlabel('Год')
plt.ylabel('Продажи, млн.')
plt.legend(beer1)

AttributeError: 'DataFrame' object has no attribute 'rows'