### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [1]:
f = open('horse_data.names', 'r', encoding = 'utf8')

In [2]:
many =f.readlines()

In [3]:
info = many[29:264]

In [4]:
info

['  1:  surgery?\n',
 '          1 = Yes, it had surgery\n',
 '          2 = It was treated without surgery\n',
 '\n',
 '  2:  Age\n',
 '          1 = Adult horse\n',
 '          2 = Young (< 6 months)\n',
 '\n',
 '  3:  Hospital Number\n',
 '          - numeric id\n',
 '          - the case number assigned to the horse\n',
 '            (may not be unique if the horse is treated > 1 time)\n',
 '\n',
 '  4:  rectal temperature\n',
 '          - linear\n',
 '          - in degrees celsius.\n',
 '          - An elevated temp may occur due to infection.\n',
 '          - temperature may be reduced when the animal is in late shock\n',
 '          - normal temp is 37.8\n',
 '          - this parameter will usually change as the problem progresses\n',
 '               eg. may start out normal, then become elevated because of\n',
 '                   the lesion, passing back through the normal range as the\n',
 '                   horse goes into shock\n',
 '  5:  pulse\n',
 '          - linear\n',
 '          - the heart rate in beats per minute\n',
 '          - is a reflection of the heart condition: 30 -40 is normal for adults\n',
 '          - rare to have a lower than normal rate although athletic horses\n',
 '            may have a rate of 20-25\n',
 '          - animals with painful lesions or suffering from circulatory shock\n',
 '            may have an elevated heart rate\n',
 '\n',
 '  6:  respiratory rate\n',
 '          - linear\n',
 '          - normal rate is 8 to 10\n',
 '          - usefulness is doubtful due to the great fluctuations\n',
 '\n',
 '  7:  temperature of extremities\n',
 '          - a subjective indication of peripheral circulation\n',
 '          - possible values:\n',
 '               1 = Normal\n',
 '               2 = Warm\n',
 '               3 = Cool\n',
 '               4 = Cold\n',
 '          - cool to cold extremities indicate possible shock\n',
 '          - hot extremities should correlate with an elevated rectal temp.\n',
 '\n',
 '  8:  peripheral pulse\n',
 '          - subjective\n',
 '          - possible values are:\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = reduced\n',
 '               4 = absent\n',
 '          - normal or increased p.p. are indicative of adequate circulation\n',
 '            while reduced or absent indicate poor perfusion\n',
 '\n',
 '  9:  mucous membranes\n',
 '          - a subjective measurement of colour\n',
 '          - possible values are:\n',
 '               1 = normal pink\n',
 '               2 = bright pink\n',
 '               3 = pale pink\n',
 '               4 = pale cyanotic\n',
 '               5 = bright red / injected\n',
 '               6 = dark cyanotic\n',
 '          - 1 and 2 probably indicate a normal or slightly increased\n',
 '            circulation\n',
 '          - 3 may occur in early shock\n',
 '          - 4 and 6 are indicative of serious circulatory compromise\n',
 '          - 5 is more indicative of a septicemia\n',
 '\n',
 ' 10: capillary refill time\n',
 '          - a clinical judgement. The longer the refill, the poorer the\n',
 '            circulation\n',
 '          - possible values\n',
 '               1 = < 3 seconds\n',
 '               2 = >= 3 seconds\n',
 '\n',
 " 11: pain - a subjective judgement of the horse's pain level\n",
 '          - possible values:\n',
 '               1 = alert, no pain\n',
 '               2 = depressed\n',
 '               3 = intermittent mild pain\n',
 '               4 = intermittent severe pain\n',
 '               5 = continuous severe pain\n',
 '          - should NOT be treated as a ordered or discrete variable!\n',
 '          - In general, the more painful, the more likely it is to require\n',
 '            surgery\n',
 '          - prior treatment of pain may mask the pain level to some extent\n',
 '\n',
 ' 12: peristalsis\n',
 "          - an indication of the activity in the horse's gut. As the gut\n",
 '            becomes more distended or the horse becomes more toxic, the\n',
 '            activity decreases\n',
 '          - possible values:\n',
 '               1 = hypermotile\n',
 '               2 = normal\n',
 '               3 = hypomotile\n',
 '               4 = absent\n',
 '\n',
 ' 13: abdominal distension\n',
 '          - An IMPORTANT parameter.\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = moderate\n',
 '               4 = severe\n',
 '          - an animal with abdominal distension is likely to be painful and\n',
 '            have reduced gut motility.\n',
 '          - a horse with severe abdominal distension is likely to require\n',
 '            surgery just tio relieve the pressure\n',
 '\n',
 ' 14: nasogastric tube\n',
 '          - this refers to any gas coming out of the tube\n',
 '          - possible values:\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = significant\n',
 '          - a large gas cap in the stomach is likely to give the horse\n',
 '            discomfort\n',
 '\n',
 ' 15: nasogastric reflux\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = > 1 liter\n',
 '               3 = < 1 liter\n',
 '          - the greater amount of reflux, the more likelihood that there is\n',
 '            some serious obstruction to the fluid passage from the rest of\n',
 '            the intestine\n',
 '\n',
 ' 16: nasogastric reflux PH\n',
 '          - linear\n',
 '          - scale is from 0 to 14 with 7 being neutral\n',
 '          - normal values are in the 3 to 4 range\n',
 '\n',
 ' 17: rectal examination - feces\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = decreased\n',
 '               4 = absent\n',
 '          - absent feces probably indicates an obstruction\n',
 '\n',
 ' 18: abdomen\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = other\n',
 '               3 = firm feces in the large intestine\n',
 '               4 = distended small intestine\n',
 '               5 = distended large intestine\n',
 '          - 3 is probably an obstruction caused by a mechanical impaction\n',
 '            and is normally treated medically\n',
 '          - 4 and 5 indicate a surgical lesion\n',
 '\n',
 ' 19: packed cell volume\n',
 '          - linear\n',
 '          - the # of red cells by volume in the blood\n',
 '          - normal range is 30 to 50. The level rises as the circulation\n',
 '            becomes compromised or as the animal becomes dehydrated.\n',
 '\n',
 ' 20: total protein\n',
 '          - linear\n',
 '          - normal values lie in the 6-7.5 (gms/dL) range\n',
 '          - the higher the value the greater the dehydration\n',
 '\n',
 ' 21: abdominocentesis appearance\n',
 "          - a needle is put in the horse's abdomen and fluid is obtained from\n",
 '            the abdominal cavity\n',
 '          - possible values:\n',
 '               1 = clear\n',
 '               2 = cloudy\n',
 '               3 = serosanguinous\n',
 '          - normal fluid is clear while cloudy or serosanguinous indicates\n',
 '            a compromised gut\n',
 '\n',
 ' 22: abdomcentesis total protein\n',
 '          - linear\n',
 '          - the higher the level of protein the more likely it is to have a\n',
 '            compromised gut. Values are in gms/dL\n',
 '\n',
 ' 23: outcome\n',
 '          - what eventually happened to the horse?\n',
 '          - possible values:\n',
 '               1 = lived\n',
 '               2 = died\n',
 '               3 = was euthanized\n',
 '\n',
 ' 24: surgical lesion?\n',
 '          - retrospectively, was the problem (lesion) surgical?\n',
 '          - all cases are either operated upon or autopsied so that\n',
 '            this value and the lesion type are always known\n',
 '          - possible values:\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '\n',
 ' 25, 26, 27: type of lesion\n',
 '          - first number is site of lesion\n',
 '               1 = gastric\n',
 '               2 = sm intestine\n',
 '               3 = lg colon\n',
 '               4 = lg colon and cecum\n',
 '               5 = cecum\n',
 '               6 = transverse colon\n',
 '               7 = retum/descending colon\n',
 '               8 = uterus\n',
 '               9 = bladder\n',
 '               11 = all intestinal sites\n',
 '               00 = none\n',
 '          - second number is type\n',
 '               1 = simple\n',
 '               2 = strangulation\n',
 '               3 = inflammation\n',
 '               4 = other\n',
 '          - third number is subtype\n',
 '               1 = mechanical\n',
 '               2 = paralytic\n',
 '               0 = n/a\n',
 '          - fourth number is specific code\n',
 '               1 = obturation\n',
 '               2 = intrinsic\n',
 '               3 = extrinsic\n',
 '               4 = adynamic\n',
 '               5 = volvulus/torsion\n',
 '               6 = intussuption\n',
 '               7 = thromboembolic\n',
 '               8 = hernia\n',
 '               9 = lipoma/slenic incarceration\n',
 '               10 = displacement\n',
 '               0 = n/a\n',
 ' 28: cp_data\n',
 '          - is pathology data present for this case?\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '          - this variable is of no significance since pathology data\n']

In [5]:
import pandas as pd

In [6]:
horse_data = pd.read_csv('horse_data.csv')

In [7]:
horse_data = pd.DataFrame(horse_data)

In [8]:
horse_data

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
295,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
296,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
297,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
298,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [9]:
horse_data.columns =['surgery?', 'age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities'
                    , 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis','abdominal distension',
                    'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen',
                     'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome',
                     'surgical lesion', 'type of lesion', 'type of lesion', 'type of lesion', 'cp_data' 
                    ]

In [10]:
sorted_horse_data = horse_data[['surgery?', 'age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 
           'outcome']]

In [11]:
sorted_horse_data

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1,1,39.2,88,20,?,3,3
1,2,1,38.30,40,24,1,3,1
2,1,9,39.10,164,84,4,2,2
3,2,1,37.30,104,35,?,?,2
4,2,1,?,?,?,2,2,1
...,...,...,...,...,...,...,...,...
294,1,1,?,120,70,4,2,3
295,2,1,37.20,72,24,3,4,3
296,1,1,37.50,72,30,4,4,2
297,1,1,36.50,100,24,3,3,1
298,1,1,37.2,40,20,?,?,3

### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [12]:
sorted_horse_data.head(50)

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1,1,39.2,88,20,?,3,3
1,2,1,38.30,40,24,1,3,1
2,1,9,39.10,164,84,4,2,2
3,2,1,37.30,104,35,?,?,2
4,2,1,?,?,?,2,2,1
5,1,1,37.90,48,16,1,3,1
6,1,1,?,60,?,3,?,2
7,2,1,?,80,36,3,4,3
8,2,9,38.30,90,?,1,5,1
9,1,1,38.10,66,12,3,3,1
10,2,1,39.10,72,52,2,2,1
11,1,1,37.20,42,12,2,3,1
12,2,9,38.00,92,28,1,1,2
13,1,1,38.2,76,28,3,3,1
14,1,1,37.60,96,48,3,5,2
15,1,9,?,128,36,3,4,2
16,2,1,37.50,48,24,?,?,1
17,1,1,37.60,64,21,1,2,1
18,2,1,39.4,110,35,4,?,1
19,1,1,39.90,72,60,1,5,1
20,2,1,38.40,48,16,1,1,1
21,1,1,38.60,42,34,2,2,1
22,1,9,38.3,130,60,?,2,1
23,1,1,38.1,60,12,3,?,1
24,2,1,37.80,60,42,?,?,1
25,1,1,38.30,72,30,4,3,1
26,1,1,37.80,48,12,3,?,1
27,1,1,?,?,?,?,?,2
28,2,1,37.7,48,?,2,1,1
29,2,1,37.70,96,30,3,5,2
30,2,1,37.20,108,12,3,2,3
31,1,1,37.20,60,?,2,3,1
32,1,1,38.20,64,28,1,3,1
33,1,1,?,100,30,3,5,1
34,2,1,?,104,24,4,4,3
35,2,1,38.30,112,16,?,?,3
36,1,1,37.8,72,?,?,5,1
37,2,1,38.60,52,?,1,3,1
38,1,9,39.20,146,96,?,?,2
39,1,1,?,88,?,3,5,2
40,2,9,39.00,150,72,?,?,1
41,2,1,38.00,60,12,3,3,1
42,1,1,?,120,?,3,4,3
43,1,1,35.4,140,24,3,4,3
44,2,1,?,120,?,4,5,2
45,1,1,37.90,60,15,3,5,1
46,2,1,37.50,48,16,1,1,1
47,1,1,38.90,80,44,3,2,2
48,2,1,37.20,84,48,3,4,2
49,2,1,38.60,46,?,1,1,1

In [13]:
sorted_horse_data['age'].mean()

1.6421404682274248

In [14]:
sorted_horse_data.describe()

             age
count  299.00000
mean     1.64214
std      2.17730
min      1.00000
25%      1.00000
50%      1.00000
75%      1.00000
max      9.00000

In [15]:
sorted_horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    object
 1   age                         299 non-null    int64
 2   rectal temperature          299 non-null    object
 3   pulse                       299 non-null    object
 4   respiratory rate            299 non-null    object
 5   temperature of extremities  299 non-null    object
 6   pain                        299 non-null    object
 7   outcome                     299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.8+ KB

### Комментарий

в info показывает практически все колонны являются обьектами, в дальнейшем пытался их конвертировать в integers, выдает ошибки. 
 Не смог найти решение, чтобы избавиться от 'non-numerics' в колоннах и заменить их на среднее. 
  Нужна подсказка, какой метод применить. Брал из материалов занятий, не работает.

In [16]:
sorted_horse_data.convert_dtypes()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1,1,39.2,88,20,?,3,3
1,2,1,38.30,40,24,1,3,1
2,1,9,39.10,164,84,4,2,2
3,2,1,37.30,104,35,?,?,2
4,2,1,?,?,?,2,2,1
...,...,...,...,...,...,...,...,...
294,1,1,?,120,70,4,2,3
295,2,1,37.20,72,24,3,4,3
296,1,1,37.50,72,30,4,4,2
297,1,1,36.50,100,24,3,3,1
298,1,1,37.2,40,20,?,?,3

### Значения для столбцов

In [17]:
def described(horses):
    for b in horses:
        print('mean ', b, pd.to_numeric(horses[b], errors='coerce').mean())
        print('median', b, pd.to_numeric(horses[b], errors='coerce').median())
        print('mode', b, pd.to_numeric(horses[b], errors='coerce').mode()[0])
        print('std', b, pd.to_numeric(horses[b], errors='coerce').std())
        print('var', b, pd.to_numeric(horses[b], errors='coerce').var())
        print('max ', b, pd.to_numeric(horses[b], errors='coerce').max())
        print('minimum ', b, pd.to_numeric(horses[b], errors='coerce').min())

In [18]:
described(sorted_horse_data)

mean  surgery? 1.395973154362416
median surgery? 1.0
mode surgery? 1.0
std surgery? 0.4898813426908753
var surgery? 0.23998372991661482
max  surgery? 2.0
minimum  surgery? 1.0
mean  age 1.6421404682274248
median age 1.0
mode age 1
std age 2.1772997793587714
var age 4.740634329195755
max  age 9
minimum  age 1
mean  rectal temperature 38.166527196652744
median rectal temperature 38.2
mode rectal temperature 38.0
std rectal temperature 0.7335083691537396
var rectal temperature 0.5380345276185787
max  rectal temperature 40.8
minimum  rectal temperature 35.4
mean  pulse 71.93454545454546
median pulse 64.0
mode pulse 48.0
std pulse 28.68052200365475
var pulse 822.5723424021243
max  pulse 184.0
minimum  pulse 30.0
mean  respiratory rate 30.42738589211618
median respiratory rate 24.0
mode respiratory rate 20.0
std respiratory rate 17.67825633053121
var respiratory rate 312.5207468879668
max  respiratory rate 96.0
minimum  respiratory rate 8.0
mean  temperature of extremities 2.345679012345679
median temperature of extremities 3.0
mode temperature of extremities 3.0
std temperature of extremities 1.0463690920064774
var temperature of extremities 1.09488827670646
max  temperature of extremities 4.0
minimum  temperature of extremities 1.0
mean  pain 2.942622950819672
median pain 3.0
mode pain 3.0
std pain 1.3039931096782595
var pain 1.7003980300883774
max  pain 5.0
minimum  pain 1.0
mean  outcome 1.5503355704697988
median outcome 1.0
mode outcome 1.0
std outcome 0.7379673750304089
var outcome 0.5445958466092722
max  outcome 3.0
minimum  outcome 1.0

# Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

###### Считаем пропуски в столбцах

In [32]:
for x in sorted_horse_data:
    print('количество пропусков в - ', x, ' = ',  sorted_horse_data[sorted_horse_data[x] == '?'].count().unique())

количество пропусков в -  surgery?  =  [1]
количество пропусков в -  age  =  [0]
количество пропусков в -  rectal temperature  =  [60]
количество пропусков в -  pulse  =  [24]
количество пропусков в -  respiratory rate  =  [58]
количество пропусков в -  temperature of extremities  =  [56]
количество пропусков в -  pain  =  [55]
количество пропусков в -  outcome  =  [1]

In [33]:
calc_values_mean = []
calc_values_median = []
calc_values_mode = []
calc_values_std = []
calc_values_var = []
calc_values_max = []
calc_values_min = []
for b in sorted_horse_data:
    calc_values_mean.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').mean())
    calc_values_median.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').median())
    calc_values_mode.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').mode()[0])
    calc_values_std.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').std())
    calc_values_var.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').var())
    calc_values_max.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').max())
    calc_values_min.append(pd.to_numeric(sorted_horse_data[b], errors='coerce').min())

In [34]:
df = pd.DataFrame(list(zip(calc_values_mean, calc_values_median,calc_values_mode,calc_values_std,calc_values_var,calc_values_max
                          ,calc_values_min)),index=['surgery?', 'age', 'rectal temperature', 'pulse', 'respiratory rate',
                                                    'temperature of extremities', 'pain','outcome'],
                  columns=['mean', 'median','mode', 'std', 'var', 'Maximum', 'Minimum'])

In [35]:
df

,mean,median,mode,std,var,Maximum,Minimum
surgery?,1.395973,1.0,1.0,0.489881,0.239984,2.0,1.0
age,1.642140,1.0,1.0,2.177300,4.740634,9.0,1.0
rectal temperature,38.166527,38.2,38.0,0.733508,0.538035,40.8,35.4
pulse,71.934545,64.0,48.0,28.680522,822.572342,184.0,30.0
respiratory rate,30.427386,24.0,20.0,17.678256,312.520747,96.0,8.0
temperature of extremities,2.345679,3.0,3.0,1.046369,1.094888,4.0,1.0
pain,2.942623,3.0,3.0,1.303993,1.700398,5.0,1.0
outcome,1.550336,1.0,1.0,0.737967,0.544596,3.0,1.0

In [36]:
for x in sorted_horse_data:
    print(x, '- ',sorted_horse_data[sorted_horse_data[x] == '?'].count().unique())

surgery? -  [1]
age -  [0]
rectal temperature -  [60]
pulse -  [24]
respiratory rate -  [58]
temperature of extremities -  [56]
pain -  [55]
outcome -  [1]

In [46]:
df_missing = [1, 0, 60, 24, 58, 56, 55, 1
          ]

In [37]:
df = df.assign(Diff_Max_Min = df['Maximum'] - df['Minimum'])

In [38]:
df

,mean,median,mode,std,var,Maximum,Minimum,Diff_Max_Min
surgery?,1.395973,1.0,1.0,0.489881,0.239984,2.0,1.0,1.0
age,1.642140,1.0,1.0,2.177300,4.740634,9.0,1.0,8.0
rectal temperature,38.166527,38.2,38.0,0.733508,0.538035,40.8,35.4,5.4
pulse,71.934545,64.0,48.0,28.680522,822.572342,184.0,30.0,154.0
respiratory rate,30.427386,24.0,20.0,17.678256,312.520747,96.0,8.0,88.0
temperature of extremities,2.345679,3.0,3.0,1.046369,1.094888,4.0,1.0,3.0
pain,2.942623,3.0,3.0,1.303993,1.700398,5.0,1.0,4.0
outcome,1.550336,1.0,1.0,0.737967,0.544596,3.0,1.0,2.0

In [40]:
info

['  1:  surgery?\n',
 '          1 = Yes, it had surgery\n',
 '          2 = It was treated without surgery\n',
 '\n',
 '  2:  Age\n',
 '          1 = Adult horse\n',
 '          2 = Young (< 6 months)\n',
 '\n',
 '  3:  Hospital Number\n',
 '          - numeric id\n',
 '          - the case number assigned to the horse\n',
 '            (may not be unique if the horse is treated > 1 time)\n',
 '\n',
 '  4:  rectal temperature\n',
 '          - linear\n',
 '          - in degrees celsius.\n',
 '          - An elevated temp may occur due to infection.\n',
 '          - temperature may be reduced when the animal is in late shock\n',
 '          - normal temp is 37.8\n',
 '          - this parameter will usually change as the problem progresses\n',
 '               eg. may start out normal, then become elevated because of\n',
 '                   the lesion, passing back through the normal range as the\n',
 '                   horse goes into shock\n',
 '  5:  pulse\n',
 '          - linear\n',
 '          - the heart rate in beats per minute\n',
 '          - is a reflection of the heart condition: 30 -40 is normal for adults\n',
 '          - rare to have a lower than normal rate although athletic horses\n',
 '            may have a rate of 20-25\n',
 '          - animals with painful lesions or suffering from circulatory shock\n',
 '            may have an elevated heart rate\n',
 '\n',
 '  6:  respiratory rate\n',
 '          - linear\n',
 '          - normal rate is 8 to 10\n',
 '          - usefulness is doubtful due to the great fluctuations\n',
 '\n',
 '  7:  temperature of extremities\n',
 '          - a subjective indication of peripheral circulation\n',
 '          - possible values:\n',
 '               1 = Normal\n',
 '               2 = Warm\n',
 '               3 = Cool\n',
 '               4 = Cold\n',
 '          - cool to cold extremities indicate possible shock\n',
 '          - hot extremities should correlate with an elevated rectal temp.\n',
 '\n',
 '  8:  peripheral pulse\n',
 '          - subjective\n',
 '          - possible values are:\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = reduced\n',
 '               4 = absent\n',
 '          - normal or increased p.p. are indicative of adequate circulation\n',
 '            while reduced or absent indicate poor perfusion\n',
 '\n',
 '  9:  mucous membranes\n',
 '          - a subjective measurement of colour\n',
 '          - possible values are:\n',
 '               1 = normal pink\n',
 '               2 = bright pink\n',
 '               3 = pale pink\n',
 '               4 = pale cyanotic\n',
 '               5 = bright red / injected\n',
 '               6 = dark cyanotic\n',
 '          - 1 and 2 probably indicate a normal or slightly increased\n',
 '            circulation\n',
 '          - 3 may occur in early shock\n',
 '          - 4 and 6 are indicative of serious circulatory compromise\n',
 '          - 5 is more indicative of a septicemia\n',
 '\n',
 ' 10: capillary refill time\n',
 '          - a clinical judgement. The longer the refill, the poorer the\n',
 '            circulation\n',
 '          - possible values\n',
 '               1 = < 3 seconds\n',
 '               2 = >= 3 seconds\n',
 '\n',
 " 11: pain - a subjective judgement of the horse's pain level\n",
 '          - possible values:\n',
 '               1 = alert, no pain\n',
 '               2 = depressed\n',
 '               3 = intermittent mild pain\n',
 '               4 = intermittent severe pain\n',
 '               5 = continuous severe pain\n',
 '          - should NOT be treated as a ordered or discrete variable!\n',
 '          - In general, the more painful, the more likely it is to require\n',
 '            surgery\n',
 '          - prior treatment of pain may mask the pain level to some extent\n',
 '\n',
 ' 12: peristalsis\n',
 "          - an indication of the activity in the horse's gut. As the gut\n",
 '            becomes more distended or the horse becomes more toxic, the\n',
 '            activity decreases\n',
 '          - possible values:\n',
 '               1 = hypermotile\n',
 '               2 = normal\n',
 '               3 = hypomotile\n',
 '               4 = absent\n',
 '\n',
 ' 13: abdominal distension\n',
 '          - An IMPORTANT parameter.\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = moderate\n',
 '               4 = severe\n',
 '          - an animal with abdominal distension is likely to be painful and\n',
 '            have reduced gut motility.\n',
 '          - a horse with severe abdominal distension is likely to require\n',
 '            surgery just tio relieve the pressure\n',
 '\n',
 ' 14: nasogastric tube\n',
 '          - this refers to any gas coming out of the tube\n',
 '          - possible values:\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = significant\n',
 '          - a large gas cap in the stomach is likely to give the horse\n',
 '            discomfort\n',
 '\n',
 ' 15: nasogastric reflux\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = > 1 liter\n',
 '               3 = < 1 liter\n',
 '          - the greater amount of reflux, the more likelihood that there is\n',
 '            some serious obstruction to the fluid passage from the rest of\n',
 '            the intestine\n',
 '\n',
 ' 16: nasogastric reflux PH\n',
 '          - linear\n',
 '          - scale is from 0 to 14 with 7 being neutral\n',
 '          - normal values are in the 3 to 4 range\n',
 '\n',
 ' 17: rectal examination - feces\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = decreased\n',
 '               4 = absent\n',
 '          - absent feces probably indicates an obstruction\n',
 '\n',
 ' 18: abdomen\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = other\n',
 '               3 = firm feces in the large intestine\n',
 '               4 = distended small intestine\n',
 '               5 = distended large intestine\n',
 '          - 3 is probably an obstruction caused by a mechanical impaction\n',
 '            and is normally treated medically\n',
 '          - 4 and 5 indicate a surgical lesion\n',
 '\n',
 ' 19: packed cell volume\n',
 '          - linear\n',
 '          - the # of red cells by volume in the blood\n',
 '          - normal range is 30 to 50. The level rises as the circulation\n',
 '            becomes compromised or as the animal becomes dehydrated.\n',
 '\n',
 ' 20: total protein\n',
 '          - linear\n',
 '          - normal values lie in the 6-7.5 (gms/dL) range\n',
 '          - the higher the value the greater the dehydration\n',
 '\n',
 ' 21: abdominocentesis appearance\n',
 "          - a needle is put in the horse's abdomen and fluid is obtained from\n",
 '            the abdominal cavity\n',
 '          - possible values:\n',
 '               1 = clear\n',
 '               2 = cloudy\n',
 '               3 = serosanguinous\n',
 '          - normal fluid is clear while cloudy or serosanguinous indicates\n',
 '            a compromised gut\n',
 '\n',
 ' 22: abdomcentesis total protein\n',
 '          - linear\n',
 '          - the higher the level of protein the more likely it is to have a\n',
 '            compromised gut. Values are in gms/dL\n',
 '\n',
 ' 23: outcome\n',
 '          - what eventually happened to the horse?\n',
 '          - possible values:\n',
 '               1 = lived\n',
 '               2 = died\n',
 '               3 = was euthanized\n',
 '\n',
 ' 24: surgical lesion?\n',
 '          - retrospectively, was the problem (lesion) surgical?\n',
 '          - all cases are either operated upon or autopsied so that\n',
 '            this value and the lesion type are always known\n',
 '          - possible values:\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '\n',
 ' 25, 26, 27: type of lesion\n',
 '          - first number is site of lesion\n',
 '               1 = gastric\n',
 '               2 = sm intestine\n',
 '               3 = lg colon\n',
 '               4 = lg colon and cecum\n',
 '               5 = cecum\n',
 '               6 = transverse colon\n',
 '               7 = retum/descending colon\n',
 '               8 = uterus\n',
 '               9 = bladder\n',
 '               11 = all intestinal sites\n',
 '               00 = none\n',
 '          - second number is type\n',
 '               1 = simple\n',
 '               2 = strangulation\n',
 '               3 = inflammation\n',
 '               4 = other\n',
 '          - third number is subtype\n',
 '               1 = mechanical\n',
 '               2 = paralytic\n',
 '               0 = n/a\n',
 '          - fourth number is specific code\n',
 '               1 = obturation\n',
 '               2 = intrinsic\n',
 '               3 = extrinsic\n',
 '               4 = adynamic\n',
 '               5 = volvulus/torsion\n',
 '               6 = intussuption\n',
 '               7 = thromboembolic\n',
 '               8 = hernia\n',
 '               9 = lipoma/slenic incarceration\n',
 '               10 = displacement\n',
 '               0 = n/a\n',
 ' 28: cp_data\n',
 '          - is pathology data present for this case?\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '          - this variable is of no significance since pathology data\n']

In [47]:
df['пропуски'] = df_missing

In [48]:
df

,mean,median,mode,std,var,Maximum,Minimum,Diff_Max_Min,пропуски
surgery?,1.395973,1.0,1.0,0.489881,0.239984,2.0,1.0,1.0,1
age,1.642140,1.0,1.0,2.177300,4.740634,9.0,1.0,8.0,0
rectal temperature,38.166527,38.2,38.0,0.733508,0.538035,40.8,35.4,5.4,60
pulse,71.934545,64.0,48.0,28.680522,822.572342,184.0,30.0,154.0,24
respiratory rate,30.427386,24.0,20.0,17.678256,312.520747,96.0,8.0,88.0,58
temperature of extremities,2.345679,3.0,3.0,1.046369,1.094888,4.0,1.0,3.0,56
pain,2.942623,3.0,3.0,1.303993,1.700398,5.0,1.0,4.0,55
outcome,1.550336,1.0,1.0,0.737967,0.544596,3.0,1.0,2.0,1

In [52]:
comments = ['данные верны, один пропуск, можно опираться на среднее',
           'неt пропусков',
           'пропусков много, но Среднее/Середина/и Частое примерно одинаковы',
           'сложно выбрать для заполнения пустот, разброс по значениям и много пропусков',
            'норма 8-10, для заполнения - mode value, //usefulness is doubtful due to the great fluctuations',
            'mean для заполнения, исходя из информации в info',
            'много пропусков, но значения примерно одинаковы, mean для заполнения',
            'один пропуск, mean/mode говорят что лошадь жива, mode- что мертвая'
            
           ]

In [53]:
df['комментарии'] = comments

In [54]:
df

,mean,median,mode,std,var,Maximum,Minimum,Diff_Max_Min,пропуски,комментарии
surgery?,1.395973,1.0,1.0,0.489881,0.239984,2.0,1.0,1.0,1,"данные верны, один пропуск, можно опираться на..."
age,1.642140,1.0,1.0,2.177300,4.740634,9.0,1.0,8.0,0,неt пропусков
rectal temperature,38.166527,38.2,38.0,0.733508,0.538035,40.8,35.4,5.4,60,"пропусков много, но Среднее/Середина/и Частое ..."
pulse,71.934545,64.0,48.0,28.680522,822.572342,184.0,30.0,154.0,24,"сложно выбрать для заполнения пустот, разброс ..."
respiratory rate,30.427386,24.0,20.0,17.678256,312.520747,96.0,8.0,88.0,58,"норма 8-10, для заполнения - mode value, //use..."
temperature of extremities,2.345679,3.0,3.0,1.046369,1.094888,4.0,1.0,3.0,56,"mean для заполнения, исходя из информации в info"
pain,2.942623,3.0,3.0,1.303993,1.700398,5.0,1.0,4.0,55,"много пропусков, но значения примерно одинаков..."
outcome,1.550336,1.0,1.0,0.737967,0.544596,3.0,1.0,2.0,1,"один пропуск, mean/mode говорят что лошадь жив..."